.footer {
    background-color: #283739;
    color: #F5F5F5;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h2 {
    font-size: 1.2rem;
  }
  
  .footer-section p {
    margin: 10px 0;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
  }
  